---
title: Translation
layout: layouts/base.njk
eleventyExcludeFromCollections: true
permalink: /en/translation/
---
<h1>Translation</h1>

<ul class="index-list">
  <li><a href="/en/texts/translation-philosophy/">Translator's Introduction</a></li>
</ul>
