{{ define "main" }}
  <h1>English</h1>
  <p><small><a href="/translation/">View with Hebrew text</a></small></p>

  <ul class="index-list">
    <li><a href="/translation/translation-philosophy/">Translator's Introduction</a></li>
  </ul>

  <h2>Chapters</h2>
  <ul class="index-list">
    {{ $chapters := slice }}
    {{ range $key, $val := site.Data.chapters }}
      {{ $chapters = $chapters | append $key }}
    {{ end }}
    {{ range sort $chapters }}
      {{ $data := index site.Data.chapters . }}
      {{ $numStr := replaceRE `^chapter_0*` "" . }}
      {{- /* Check if has translation */ -}}
      {{ $hasTranslation := false }}
      {{ range $data }}
        {{ if reflect.IsMap . }}
          {{ with .translation }}
            {{ $hasTranslation = true }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if $hasTranslation }}
      <li><a href="/english/chapter-{{ $numStr }}/">Chapter {{ $numStr }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
